*,
*::after,
*::before {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Arvo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* Arvo Font */
@font-face {
  font-family: "Arvo";
  src: local("Arvo"),
   url("./assets/fonts/Arvo/Arvo-Regular.ttf") format("truetype");
  font-weight: normal;
  }